<!DOCTYPE html>
<html>
<head>
    <title>Inventory Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="styles.css">  -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gettingstarted">Getting Started</a></li>
                <li><a href="/products">Manage Products</a></li>
                <li><a href="/updateproduct">Update Product</a></li>
                <li><a href="/listproducts">List Products</a></li>
                <li><a href="/search">Search Products</a></li>
                <li><a href="/analytics">Product Analytics</a></li>
            </ul>
        </nav>
    </header>
    <h1>Inventory Manager</h1>
    <p><a href="/gettingstarted" style="font-size: 24px; color: red;">Getting Started</a></p>
    <p><a href="/products">Manage Products</a></p>
    <p><a href="/updateproduct">Update Product</a></p>
    <p><a href="/listproducts">List Products</a></p>
    <p><a href="/search">Search Products</a></p>
    <p><a href="/analytics">Product Analytics</a></p>
</body>
    </html>
